@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    color: #243D25;
    background: #FDFAF6;
    font-family: "Montserrat", sans-serif;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #062C30;
    text-align: center;
    color: #E4EFE7;
}

nav {
    background-color: #05595B;
    padding: .1px;
}

nav li {
    display: inline;
    list-style-type: none;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #f2f2f2;
    padding: 14px 16px;
}

nav a:hover {
    background: #C5D8A4;
    color: black;
}

* {
    box-sizing: border-box;
}

.wiki {
    font-size: 12px;
}

.titikgaris {
    font-weight: bold;
}

section {
    float: left;
    width: 76%;
    padding: 5px;
    overflow: auto;
}

.content {
    background-color: #E4EFE7;
    /* float: left; */
    width: 100%;
    height: 390px;
}

footer {
    float: left;
    background-color: #062C30;
    color: #E4EFE7;
    font-size: 100%;
    height: 3%;
    /* position: absolute; */
    /* bottom: 0; */
    text-align: center;
    width: 100%;
}

aside {
    text-align: center;
    float: right;
    width: 20%;
    padding: 10px 20px;
    margin: 5px 10px 10px 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

aside div {
    text-align: center;
}

article {
    padding: 5px 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.mainnn {
    float: left;
    margin: 20px 0px 0px 0px;
    position: relative;
    top: 100%;
}

#learn {
    float: left;
}

.morse-a-z,
.morse-a-z td {
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}

.morse-a-z {
    table-layout: fixed;
    width: 100%;
    height: 100px;
}

.sosmed-tab {
    table-layout: fixed;
    width: 100%;
}

.dcd {
    border-radius: 50%
}

textarea {
    float: left;
    margin: 10px;
    height: 74%;
    max-height: 74%;
    width: 98%;
    max-width: 98%;
    border: 1px solid #ccc;
}

#translate_button {
    position: relative;
    left: 48%;
    background-color: #354259;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#translate_button:hover {
    background: #C5D8A4;
    color: black;
    cursor: pointer;
}